<%= JST["layouts/_pages"]({ collection: collection }) %>

<div class="content-sort">
  <label for="content-sort" id="content-sort">Sort</label>
  <select
    class="form-mini"
    name="content-sort"
    id="content-sort">
    <option value="created_at,asc">Latest Additions</option>
  </select>
</div>
