<%= JST["layouts/_pages"]({ collection: collection }) %>

<div class="content-sort">
  <label for="content-sort" id="content-sort">Sort</label>
  <select
    class="form-mini"
    name="content-sort"
    id="content-sort">
    <option
      value="created_at,desc">Latest Additions</option>
    <option
      value="title,asc">Title (A-Z)</option>
    <option
      value="title,desc">Title (Z-A)</option>
  </select>
</div>
