<div class="content-pages">
  1 – <%= collection.length %> of <%= collection.length %>
</div>
<small class="prev-page">
  <span class="prev-page">
    Prev
  </span>
</small>
<small class="next-page">
  <span class="next-page">
    Next
  </a>
</small>
<div class="content-sort">
  <label for="content-sort" id="content-sort">Sort</label>
  <select
    class="form-mini"
    name="content-sort"
    id="content-sort">
    <option value="created_at,asc">Latest Additions</option>
  </select>
</div>
