<section class="content-sidebar">
</section>

<section class="content-main">
  <nav class="content-tabs group">
    <ul>
      <li class="selected">
        <a
          href="#"
          data-subview="Record"
          data-collection="records"
          class="collection-tab">
          Records<small class="tabs-count"></small>
        </a>
      </li>
      <li>
        <a
          href="#"
          data-subview="Artist"
          data-collection="artists"
          class="collection-tab">
          Artists<small class="tabs-count"></small>
        </a>
      </li>
      <li>
        <a
          href="#"
          data-subview="Label"
          data-collection="labels"
          class="collection-tab">
          Labels<small class="tabs-count"></small>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="content-tabs group pagination-header">
  </nav>

  <section class="content-records">
  </section>
</section>
