<main class="content">
</main>

<script>
  (function () {
    Slipmat.defaultUserImg = "<%= asset_path("default-user.png") %>";
    Slipmat.defaultRecordImg = "<%= asset_path("default-record.png") %>";
  })();
</script>
