<li
  data-fragment="<%= result.fragment %>"
  class="search-result group">
  <figure class="search-result-image">
    <img src="<%= result.image() %>">
  </figure>
  <div class="search-result-info">
    <span class="title"><%= result.heading %></span>
    <span class="subtitle"><%= result.subtitle %></span>
  </div>
</li>
