<li class="link menu">
  <a href="#/login" class="menu">Log In</a>

  <ul class="header-menu">
    <li>
      <a href="#/demo">Log In as Demo User</a>
    </li>
  </ul>
</li>

</li>
<li class="button">
  <button class="button button-main" id="register">Register</button>
</li>
