<li class="menu">
  <a href="#/users/<%= Slipmat.currentUser.id %>" class="menu">
    <img src="<%= Slipmat.defaultUserImg %>" class="header">
  </a>

  <ul class="header-user-menu">
    <li>
      <a href="#/users/<%= Slipmat.currentUser.id %>">Profile</a>
    </li>
    <li>
      <a href="#/logout">Log Out</a>
    </li>
  </ul>
</li>
