<li class="menu">
  <a href="#/users/<%= Slipmat.currentUser.get("slug") %>" class="menu">
    <img src="<%= Slipmat.currentUser.image() %>" class="header">
  </a>

  <ul class="header-user-menu">
    <li>
      <a href="#/users/<%= Slipmat.currentUser.get("slug") %>">Profile</a>
    </li>
    <li>
      <a href="#/logout" id="sign-out">Log Out</a>
    </li>
  </ul>
</li>
