<nav class="header-nav group">
  <h1 class="header-logo">
    <a href="#">Slipmat</a>
  </h1>

  <input
    type="text"
    class="header-search"
    autocomplete="off"
    autocorrect="off"
    placeholder="Search artists, albums and more...">

  <ul class="header-search-list group">
    <li class="menu">
      <a href="#" class="menu">
        Explore
      </a>

      <ul class="header-menu">
        <li>
          <a href="#" id="all-items">All Items</a>
        </li>
        <li>
          <a href="#/wantlist" id="wantlist">Items I Want</a>
        </li>
        <li>
          <a href="#/collection" id="collection">Collection</a>
        </li>
        <li>
          <a href="#/records/new" id="records-new">Add Record</a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="header-user-list group">
  </ul>
</nav>
