<li class="menu">
  <a href="#" class="menu">
    <img src="default-user.png" class="header">
  </a>

  <ul class="header-user-menu">
    <li>
      <a href="#">Profile</a>
    </li>
    <li>
      <a href="#">Log Out</a>
    </li>
  </ul>
</li>
