<nav class="header-nav group">
  <h1 class="header-logo">
    <a href="#">Slipmat</a>
  </h1>

  <form id="search" class="search">
    <input
      type="text"
      class="header-search"
      autocomplete="off"
      autocorrect="off"
      placeholder="Search artists, albums and more...">
    <button class="search-button"></button>
    <ul class="search-results">
    </ul>
  </form>

  <ul class="header-search-list group">
    <li class="menu">
      <a href="#" class="menu">
        Explore
      </a>

      <ul class="header-menu">
        <li>
          <a href="#" id="all-items">All Records</a>
        </li>
        <li>
          <a href="#/wantlist" id="wantlist">Records I Want</a>
        </li>
        <li>
          <a href="#/collection" id="collection">My Collection</a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="header-user-list group">
  </ul>
</nav>
