<div>
  <b>Profile</b>
</div>
<p>
  <% if (user.has("profile")) { %>
    <%= user.escape("profile").replace(/\n/g, "<br>") %>
  <% } else { %>
    This user hasn't yet filled out their profile.
  <% } %>
  <% if (user.has("url")) { %>
    <a href="<%= user.escape("url") %>" class="soft homepage">
      <%= user.escape("url") %>
    </a>
  <% } %>
</p>

<!-- placeholder -->
<div>
  <b>Recent Activity</b>
</div>
<p>
  This user doesn't have any recent activity.
</p>
