<figure class="form user-form">
  <div class="form-header">
    Create Your New Slipmat Account
  </div>
  <div class="form-main">
    <button class="button button-facebook">Register Using Facebook</button>
    <button class="button button-google">Register Using Google+</button>

    <hr>

    <span><b>Or...</b></span>

    <form id="new-user">
      <label for="user_username">Username</label>
      <input
        type="text"
        name="user[username]"
        id="user_username"
        value="<%= user.escape("username") %>"
        class="form user-form">

      <label for="user_email">Email Address</label>
      <input
        type="text"
        name="user[email]"
        id="user_email"
        value="<%= user.escape("email") %>"
        class="form user-form">

      <label for="user_password">Password</label>
      <input
        type="password"
        name="user[password]"
        id="user_password"
        class="form user-form">

      <button class="button button-main">Create Account</button>
    </form>

    <span>
      Already have an account?
      <a href="#/login" class="link">Log In.</a>
    </span>
</figure>
