<div class="content-pages">
  <%= records.pages().lower_limit %>
  –
  <%= records.pages().upper_limit %>
  of
  <%= records.pages().total_count %>
</div>
<small class="prev-page page">
  <span
    <% if (records.pages().prev_page) { %> class="link" <% } %>
    >
    Prev
  </span>
</small>
<small class="next-page page">
  <span
    <% if (records.pages().next_page) { %> class="link" <% } %>
    >
    Next
  </a>
</small>
<div class="content-sort">
  <label for="content-sort" id="content-sort">Sort</label>
  <select
    class="form-mini"
    name="content-sort"
    id="content-sort">
    <option value="created_at,asc">Latest Additions</option>
  </select>
</div>
