<section class="statistics">
  <h3>Statistics</h3>
  <div class="statistics-container">
    <div class="statistic group">
      <span class="key">
        Have:
      </span>
      <span class="value" id="collectionCount">
        <%= record.numCollected() %>
      </span>
    </div>
    <div class="statistic group">
      <span class="key">
        Want:
      </span>
      <span class="value" id="wantCount">
        <%= record.numWanted() %>
      </span>
    </div>
    <div class="statistic group" id="created_at">
      <span class="key">
        Added:
      </span>
      <span class="value">
        <%= record.get("created_at") %>
      </span>
    </div>
    <div class="statistic group" id="updated_at">
      <span class="key">
        Last Updated:
      </span>
      <span class="value">
        <%= record.get("updated_at") %>
      </span>
    </div>
  </div>
</section>
