<section class="release">
  <h3>Release</h3>
  <div class="release-container">
    <span>
      <a href="#/records/<%= record.id %>/edit" class="link">
        Edit Release
      </a>
    </span>
    <ul class="list-buttons group">
      <li>
        <button
          id="collection"
          class="button button-data button-mini list">
        </button>
      </li>
      <li>
        <button
          id="want"
          class="button button-data button-mini list">
        </button>
      </li>
    </ul>
  </div>
</section>
