<section class="release">
  <h3>Release</h3>
  <div class="release-container">
    <span>
      <a href="#/records/<%= record.id %>/edit" class="link">
        Edit Release
      </a>
    </span>
    <ul class="list-buttons group">
      <li>
        <button
          data-list-type="collection"
          class="button button-data button-mini add-record">
          Add to Collection
        </button>
      </li>
      <li>
        <button
          data-list-type="wantlist"
          class="button button-data button-mini add-record">
          Add to Wantlist
        </button>
      </li>
    </ul>
  </div>
</section>
