<section class="content-sidebar">
</section>

<section class="content-main">
  <nav class="content-tabs group">
    <ul class="tabs group">
      <li class="selected">
        <a href="#">
          Records<small class="tabs-count"><%= records.length %></small>
        </a>
      </li>
      <li>
        <a href="#">
          Artists<small class="tabs-count"></small>
        </a>
      </li>
      <li>
        <a href="#">
          Labels<small class="tabs-count"></small>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="content-tabs group pagination-header">
  </nav>

  <section class="content-records">
  </section>
</section>
