<section class="record-main">
  <%= JST["records/_recordInfo"]({ record: record }) %>

  <section class="tracklist">
    <h3>Tracklist</h3>
    <div class="tracklist-container">
    </div>
  </section>

  <% if (record.has("notes")) { %>
    <section class="notes">
      <h3>Notes</h3>
      <p class="notes" id="notes">
        <%= record.escape("notes").replace(/\n/g, "<br>") %>
      </p>
    </section>
  <% } %>

  <section class="comments">
    <h3>Reviews</h3>
    <button class="button button-main button-data button-comment">
      Add Review
    </button>
  </section>
</section>

<section class="record-sidebar">
  <%= JST["records/_recordOptions"]({ record: record }) %>
  <%= JST["records/_recordStats"]({ record: record }) %>

  <section class="contributors">
    <h3>Contributors</h3>
    <div class="contributors-container">
    </div>
  </section>
</section>
