<div class="track group" id="track_<%= track.id %>">
   <span class="position"><%= _.escape(track.position) %></span>
   <span class="title"><%= _.escape(track.title) %></span>
   <span class="length"><%= _.escape(track.duration) %></span>
</div>
