<div class="form-header">
  Tracklist
</div>
<section class="tracklist-form-main">
  <div class="tracklist-form-header group">
    <span class="ord"></span>
    <span class="position">Pos:</span>
    <span class="title">Title</span>
    <span class="duration">Duration</span>
    <span class="remove"></span>
  </div>
  <div class="tracks-container">
  </div>
  <div class="tracklist-form-add-track">
    <button class="button button-data add-track">Add Track</button>
  </div>
</section>
