<%= JST["shared/_errors"]() %>

<figure class="form user-form">
  <div class="form-header">
    Log In to Slipmat
  </div>
  <div class="form-main">
    <form id="new-session">
      <label for="user_username">Username</label>
      <input
        type="text"
        name="username"
        id="user_username"
        class="form user-form">

      <label for="user_password">Password</label>
      <input
        type="password"
        name="password"
        id="user_password"
        class="form user-form">

      <button class="button button-main">Log In</button>
    </form>

    <hr>

    <span><b>Or...</b></span>

    <button class="button button-facebook">Log In With Facebook</button>
    <button class="button button-google">Log In With Google+</button>

    <span>
      Don't have an account?
      <a href="#/register" class="link">Sign up!</a>
    </span>
  </div>
</figure>
