/* reset */

html, body, header, nav, h1, ul, li, div,
a, input, textarea, button, small, select,
main, section, footer, hr, strong, b, p,
table, th, tr, td, checkbox, label, figure,
section {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;

  background: transparent;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

body {
  line-height: 20px;
  font-family: "Helvetica Neue", "Nimbus Sans", sans-serif;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  box-shadow: none;
  vertical-align: middle;
  color: #000;
  background: #eee;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

button,
input[type="submit"] {
  cursor: pointer;
}

b {
  font-weight: 700;
}

/* header */

.header {
  height: 56px;
  width: 100%;
  background: #333;
  margin: 0 auto;
  padding: 0 auto;
  border: 0;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 1;
}

.header-nav {
  height: 100%;
  margin: 0 auto;
}

.header-nav, main.content, .footer {
  max-width: 1230px;
  min-width: 840px;
  padding: 0 30px;
}

.header-logo {
  width: 124px;
  height: inherit;
  font-size: 32px;
  color: white;
  float: left;
  margin: 0 auto;
  font-weight: 700;
}

.header-logo a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 19px 0;
}

.header-logo a:hover {
  text-decoration: none;
}

.header-search {
  font-size: 14px;
  line-height: 24px;
  width: 325px;
  float: left;
  margin-top: 14px;
  margin-left: 24px;
  margin-right: 12px;
  padding: 2px 7px;
}

.header-search-list {
  display: block;
  float: left;
  position: relative;
}

a.menu, a.menu:hover,
li.link > a, li.link > a:hover,
.header-logo > a, .header-logo > a:hover,
a.sidebar-filter, a.sidebar-filter:hover,
a.next-page, a.next-page:hover,
a.prev-page, a.prev-page:hover {
  text-decoration: none;
}

a.menu:after {
  content: "\00a0 ▾";
  font-size: 12px;
  text-decoration: none;
}

li.menu:hover {
  background: black;
}

.header-user-list {
  display: block;
  float: right;
}

.header-user-list button {
  display: block;
  float: left;
  padding: 14px 10px;
}

.header-user-list img {
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  position: relative;
  right: 5px;
  bottom: 7px;
  padding: 2px;
  border: 1px solid #333;
}

.header-search-list > li, .header-user-list > li {
  float: left;
  position: relative;
}

.header-search-list a, .header-user-list a {
  display: block;
  vertical-align: middle;
  font-size: 15px;
  color: #f2f2f2;
}

.header-search-list > li > a, .header-user-list > li > a {
  padding: 18px 10px;
}

.header-user-list button {
  margin-top: 12px;
  margin-left: 10px;
}

.header-search-list > li > a:hover, .header-user-list > li > a:hover {
  color: white;
}

.header-menu, .header-user-menu {
  display: none;
  position: absolute;
  white-space: nowrap;
  background: black;
}

.header-user-menu {
  display: none;
  position: absolute;
  white-space: nowrap;
  background: black;
}

li:hover .header-menu, li:hover .header-user-menu {
  display: block;
  background: black;
}

.header-menu a, .header-user-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.header-menu a {
  padding-left: 10px;
  padding-right: 65px;
}

.header-user-menu a {
  padding-right: 10px;
  padding-left: 10px;
}

.header-menu a:hover, .header-user-menu a:hover {
  color: #4dd2ff;
  text-decoration: underline;
}

/* common assets */

button {
  font-size: 15px;
  padding: 5px 10px;
}

button.button {
  color: #f2f2f2;
  border-radius: 2px;
  font-size: 15px;
  padding: 5px 10px;
  text-shadow: 1px 0px 1px #777;
}

button.button:hover {
  color: white;
}

button.button:active {
  box-shadow: 0 0 10px #37b;
}

button.button-submit {
  display: block;
  margin: 15px auto;
  text-align: center;
  width: 150px;
}

button.button-main {
  background: #5b2;
  border-left: 1px solid #4a3;
  border-right: 1px solid #4a3;
  border-top: 1px solid #5a3;
  border-bottom: 1px solid #592;
}

button.button-main:hover {
  background: #6c4;
}

button.button-data {
  color: #333;
  background: #f2f2f2;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #d3d3d3;
  text-shadow: none;
  border-radius: 3px;
}

button.button-form {
  font-size: 14px;
  height: 15px;
  line-height: 18px;
}

button.button-data:hover {
  color: #333;
  background: #f7f7f7;
}

button.button-comment {
  margin: 5px 0;
  font-size: 14px;
  padding: 5px 15px;
}

button.button-mini {
  font-size: 12px;
  padding: 3px 8px;
}

button.button-facebook {
  background: #37c;
  border-left: 1px solid #37a;
  border-right: 1px solid #37a;
  border-top: 1px solid #48a;
  border-bottom: 1px solid #379;
}

button.button-facebook:hover {
  background: #48d;
}

button.button-google {
  background: #b33;
  border-left: 1px solid #922;
  border-right: 1px solid #922;
  border-top: 1px solid #a33;
  border-bottom: 1px solid #922;
}

button.button-google:hover {
  background: #c44;
}

hr {
  height: 1px;
  background: #ccc;
}

a {
  color: #03b;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

/* content */

.content {
  margin: 7px auto;
}

.content:before {
  content: "";
  display: block;
  position: absolute;
}

.content-sidebar, .content-main {
  display: block;
  float: left;
}

.content-sidebar {
  width: 15%;
  margin-right: 2%;
  min-height: 200px;
}

.content-sidebar > h2, .profile-sidebar > h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.content-main {
  width: 83%;
  display: block;
  position: relative;
}

.sidebar-filters > li {
  display: block;
}

.sidebar-filters > li > a, .sidebar-items > li > a {
  display: block;
  line-height: 15px;
  font-size: 14px;
}

.sidebar-filters > li > a {
  padding: 6px;
  color: white;
  background: #7ad;
  border: 1px solid white;
  border-radius: 2px;
  margin: 3px 0;
}

.sidebar-filters > li > a:hover {
  background: #37b;
}

.sidebar-filter:after {
  display: inline-block;
  float: right;
  content: "×";
  font-size: 15px;
  position: relative;
  bottom: 2px;
}

.sidebar-items > li > a {
  padding: 6px 6px 6px 0;
  color: #03b;
}

.sidebar-items > li > a:hover {
  background: #eee;
}

.sidebar-items > li > .sidebar-item:hover {
  text-decoration: underline;
}

li:hover > a > .sidebar-item-count {
  color: #aaa;
  text-decoration: none;
}

.sidebar-item-count {
  display: inline-block;
  float: right;
  color: #aaa;
  font-size: 13px;
}

.content-tabs {
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.content-tabs > .tabs {
  display: block;
  float: left;
  position: relative;
  top: 1px;
  left: 10px;
}

.tabs > li {
  display: block;
  float: left;
}

.tabs > li > a {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  color: #03b;
}

.tabs > li > a:hover {
  text-decoration: underline;
}

.tabs > .selected {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tabs > .selected > a, .tabs > .selected > a:hover {
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.tabs > .selected > small {
  display: none;
}

.tabs > li > a > .tabs-count {
  color: #aaa;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  color: #aaa;
  font-size: 13px;
}

.tabs > .selected > a > .tabs-count {
  display: none;
}

.tabs-aside {
  position: relative;
  top: 10px;
  display: block;
  float: right;
}

.tabs-aside a {
  padding: 5px 0;
  font-size: 14px;
  color: #03b;
}

.tabs-aside a:hover {
  text-decoration: underline;
}

.content-pages {
  display: block;
  float: left;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.content-tabs > small {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 400;
}

.content-tabs > .prev-page {
  margin-left: 10px;
  margin-right: 5px;
}

.content-tabs > .next-page {
  margin-left: 5px;
  margin-right: 10px;
}

.content-tabs > small > a {
  color: #03b;
  padding: 13px 0;
}

.content-tabs > small > a:hover {
  color: #37b;
}

.content-tabs > small > .prev-page:before {
  content: "←";
  font-weight: 700;
}

.content-tabs > small > .next-page:after {
  content: "→";
  font-weight: 700;
}

.content-sort {
  display: block;
  float: right;
  font-size: 14px;
}

.content-sort > label {
  margin-right: 5px;
}

.content-sort > select {
  font-size: 16px;
}

.content-records {
  margin-top: 15px;
}

.content-records > .record, .record-info > .record {
  display: block;
  float: left;
  width: 150px;
  margin: 7px;
}

.content-records > .record {
  height: 200px;
}

.record-info > .record {
  height: 150px;
}

.content-records > .record > img, .content-records > .record > a {
  display: inline-block;
}

.content-records > .record > img, .record > .cover {
  width: 150px;
  height: 150px;
}

.content-records > .record > a {
  font-size: 13px;
  color: #03b;
}

.content-records > .record > a:hover {
  text-decoration: underline;
  color: #37b;
}

.content-records > .record > .artist {
  display: block;
  font-weight: 700;
}

/* footer */

.footer {
  display: block;
  border-top: 1px solid #eee;
  margin: 15px auto 30px auto;
  height: 100%;
}

.footer-copy {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #777;
}

.footer-copy > a {
  color: #555;
  text-decoration: underline;
}

.footer-copy > a:hover {
  color: #222;
  text-decoration: none;
}

/* forms */

.form {
  display: block;
  margin: 30px auto;
  border: 1px solid #ddd;
}

.user-form {
  width: 350px;
}

.record-form {
  width: 400px;
}

.record-form:not(:last-child) {
  padding-bottom: 15px;
}

.ui-sortable-helper {
  display: block;
  position: absolute;
  border: 1px solid #eee;
  z-index: 1000;
}

.form-image {
  display: block;
  position: relative;
  margin: 10px auto;
  border: 1px solid #333;
  height: 150px;
  width: 150px;
}

.form-image > img {
  width: 100%;
  height: 100%;
}

#image-form {
  display: none;
}

.genre-container > .genre-form {
  margin: 10px 15px;
}

.form-header {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: 700;
  padding: 7px 10px;
}

.form-main label, .form-main span {
  display: block;
  font-size: 15px;
}

.form-main label {
  padding: 15px 15px 5px 15px;
}

.form-main span {
  padding: 15px;
}

input[type="text"].form,
input[type="password"].form {
  font-size: 16px;
  margin: 0 15px;
  background: white;
  border: 1px solid #333;
  box-shadow: inset 1px 1px 2px #ccc;
  height: 20px;
  line-height: 30px;
  padding: 5px;
}

textarea.form {
  font-size: 14px;
  background: white;
  border: 1px solid #333;
  box-shadow: inset 1px 1px 2px #ccc;
  border-radius: 2px;
  line-height: 20px;
}

textarea.record-form {
  margin: 0 15px;
  height: 100px;
  width: 360px;
  padding: 5px;
}

textarea.comment-form {
  margin: 10px 0;
  height: 125px;
  width: 500px;
  padding: 10px;
}

input[type="text"].user-form,
input[type="password"].user-form {
  width: 310px;
}

input[type="text"].record-form{
  width: 360px;
}

input[type="text"].form:focus,
input[type="password"].form:focus,
textarea:focus {
  box-shadow: 0 0 4px #37b;
}

select.form {
  background: white;
  box-shadow: inset 1px 1px 2px #ccc;
  border: 1px solid #333;
  border-radius: 2px;
  padding: 5px;
  font-size: 16px;
  margin: 0 15px;
  height: 30px;
}

select.form-mini {
  background: white:
  display: block;
  position: relative;
  bottom: 1px;
  float: right;
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 14px;
  margin: 0 0 0 10px;
  height: 20px;
}

select.record-form {
  width: 370px;
}

.form-main button {
  display: block;
  margin: 10px auto;
}

.form-main hr {
  margin: 5px 14px 0 14px;
}

a.soft, .form a.new-selector {
  color: #37b;
}

.form a.new-selector {
  display: inline-block;
  float: right;
}

.form a.new-selector:hover {
  text-decoration: underline;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
select:disabled {
  background: #EEE;
  color: #777;
}

input[type="text"].highlight,
input[type="password"].highlight,
textarea.highlight {
  background: #FEB;
}

/* tracklist form */

.tracklist-form {
  width: 650px;
}

.tracklist-form-main span {
  display: block;
  float: left;
  padding: 5px;
}

.tracklist-form-track > span > .form,
.tracklist-form-track > .remove > .button,
.tracklist-form-add-track > .button {
  font-size: 14px;
  height: 15px;
  line-height: 18px;
}

.tracklist-form-track > span > .form {
  margin: 5px;
}

.tracklist-form-header {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #eee;
}

.tracklist-form-track {
  border-bottom: 1px solid #eee;
}

.tracklist-form-add-track {
  height: 39px;
  text-align: center;
}

.tracklist-form-add-track > .button {
  margin: 5px auto;
}

.tracklist-form-header > span:not(:first-child),
.tracklist-form-track > span:not(:first-child) {
  border-left: 1px solid #eee;
}

.tracklist-form-header > span {
  min-height: 20px;
}

.tracklist-form-track > span {
  min-height: 37px;
  margin: 0 auto;
}

.tracklist-form-track > .ord {
  cursor: move;
}

.tracklist-form-track > .ord > .draggable:after {
  content: "⇵";
  font-size: 24px;
  position: relative;
  top: 6px;
  left: 2px;
}

.tracklist-form-header > .ord, .tracklist-form-track > .ord {
  width: 20px;
}

.tracklist-form-header > .position, .tracklist-form-track > .position {
  width: 47px;
}

.tracklist-form-header > .title, .tracklist-form-track > .title {
  width: 432px;
}

.tracklist-form-header > .duration, .tracklist-form-track > .duration  {
  width: 60px;
}

.tracklist-form-header > .remove, .tracklist-form-track > .remove  {
  width: 30px;
}

.tracklist-form-track > .position > .track-form-position {
  width: 25px;
}

.tracklist-form-track > .title > .track-form-title {
  width: 410px;
}

.tracklist-form-track > .duration > .track-form-duration {
  width: 35px;
}

.tracklist-form-track > .remove > .button {
  margin-left: 5px;
  margin-top: 4px;
}

/* genre form */

.genre-form {
  width: 525px;
}

.genre-container {
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.genre-container > .checkbox {
  display: block;
  float: left;
  padding: 10px 20px;
  min-width: 120px;
}

.checkbox > checkbox {
  display: block;
  float: left;
}

/* profile */

.profile-sidebar, .profile-main {
  min-height: 200px;
  min-width: 150px;
  display: block;
  float: left;
  font-size: 14px;
}

.profile-sidebar {
  width: 20%;
  margin-right: 2%;
  z-index: 4;
}

.profile-sidebar > hr {
  margin: 10px 0;
}

.profile-sidebar > span {
  display: block;
  margin: 3px 0;
}

.profile-main {
  width: 78%;
  display: block;
  float: left;
  position: relative;
}

.profile-sidebar > .sidebar-items {
  font-size: 14px;
}

.profile-sidebar > .sidebar-items > li {
  padding: 2px 0;
}

.profile-header {
  height: 200px;
  position: relative;
  background: #222;
  margin: 0;
}

.profile-navbar {
  height: 50px;
  width: 100%;
  position: absolute;
  background: #111;
  bottom: 0px;
  color: white;
}

.profile-navbar > .navbar {
  max-width: 1280px;
  min-width: 890px;
  margin: auto;
}

.navbar-sidebar, .navbar-main {
  display: block;
  float: left;
  height: 1px;
}

.navbar-sidebar > .user-pic {
  display: inline-block;
  position: relative;
  bottom: 140px;
  z-index: 3;
}

.navbar-sidebar > .user-pic > img {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 2px;
}

.navbar-main > h2 {
  color: white;
  font-size: 21px;
  display: block;
  float: left;
  position: relative;
  bottom: 3px;
  right: 10px;
  width: 225px;
}

.navbar-main > h2 > a, .navbar-main > h2 > a:hover {
  color: white;
  text-decoration: none;
}

.navbar-main > .navbar-tabs {
  display: block;
  float: left;
  position: relative;
  top: 14px;
  height: 50px;
}

.navbar-main > .navbar-tabs > li {
  display: block;
  float: left;
}

.navbar-tabs > li:first-child > a {
  border-left: 1px solid #333;
}

.navbar-tabs > li > a {
  padding: 17px 25px;
  font-size: 14px;
  color: #eee;
  border-right: 1px solid #333;
  cursor: pointer;
}

.navbar-tabs > li > a:hover {
  background: #1c1c1c;
  text-decoration: underline;
}

.profile-main > div {
  display: block;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 5px;
  margin: 10px 0;
}

.profile-main > p {
  margin: 5px;
}

/* record show */

.record-main, .record-sidebar, .show-comments {
  min-height: 200px;
  display: block;
  float: left;
  font-size: 14px;
  margin-top: 10px;
}

.record-main {
  width: 68%;
  margin-right: 2%;
}

.record-main > section, .show-comments > section {
  margin-bottom: 15px;
}

.record-sidebar {
  width: 30%;
}

.record-info {
  display: block;
  position: relative;
  right: 5px;
}

.record-info > .info {
  display: block;
  float: left;
  position: relative;
  top: 2px;
  margin-left: 10px;
}

.record-info > .info > h2 {
  font-size: 20px;
  margin: 5px 0;
}

.record-attr > .key, .record-attr > .value {
  display: block;
  float: left;
  margin: 2px 0;
}

.record-attr > .key {
  width: 85px;
}

.show-info > .info {
  display: block;
  float: left;
  position: relative;
  top: -13px;
  padding-left: 180px;
}

.show-info > figure {
  position: absolute;
}

.show-attr {
  display: block;
  margin: 5px 0;
}

.show-attr > .key {
  display: block;
  position: absolute;
}

.show-attr > .value {
  display: block;
  position: relative;
  left: 85px;
  padding-right: 100px;
}

.record-main h3, .record-sidebar h3, .show-comments h3 {
  font-size: 15px;
  margin: 2px 0;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.tracklist-container > .track {
  border-bottom: 1px solid #eee;
  padding: 1px 0;
  display: block;
  position: relative;
}

.tracklist-container > .track:last-child {
  border-bottom: none;
}

.tracklist-container > .track > span {
  display: block;
  float: left;
  position: relative;
  min-height: 10px;
}

.tracklist-container > .track > .position {
  width: 10%;
  left: 3px;
}

.tracklist-container > .track > .title {
  width: 85%;
}

.tracklist-container > .track > .length {
  width: 5%;
  right: 3px;
}

.record-main > .notes > p {
  margin: 5px 0;
  line-height: 20px;
}

.release-container > span > a {
  display: block;
  margin: 5px 0 10px 0;
  padding: 3px;
}

.release-container > .list-buttons {
  margin-top: 5px;
  position: relative;
}

.release-container > .list-buttons > li {
  margin: 0 auto;
  float: left;
  width: 50%;
}

.list-buttons > li > button {
  text-align: center;
  width: 80%;
  margin: 0 5px;
}

.statistics, .contributors {
  display: block;
  margin-top: 15px;
}

.statistics-container, .contributors-container {
  display: block;
  margin-top: 5px;
}

.contributors-container > a {
  display: block;
  float: none;
}

.statistics-container > .statistic {
  display: block;
  position: relative;
}

.statistics-container > .statistic > span {
  display: block;
  float: left;
}

.statistics-container > .statistic > .key {
  width: 40%;
}

.statistics-container > .statistic > .value {
  width: 60%;
}

/* comments */

div.comment {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.comment-main {
  display: block;
  float: left;
  width: 90%;
}

.comment img {
  width: 50px;
  height: 50px;
}

.comment .author-img {
  display: block;
  float: left;
  width: 10%;
}

.comment .author {
  display: block;
  float: left;
  font-weight: 700;
}

.comment-main .date {
  margin-left: 7px;
  font-size: 13px;
}

p.comment {
  line-height: 19px;
  margin-top: 5px;
  display: block;
}
