<nav class="content-tabs group">
  <ul class="tabs nav-tabs group">
    <li class="selected" id="Records">
      <a href="#">
        Records<small class="tabs-count">
          <%= stats.num_records %>
        </small>
      </a>
    </li>
    <li id="Artists">
      <a href="#">
        Artists<small class="tabs-count">
          <%= stats.num_artists %>
        </small>
      </a>
    </li>
    <li id="Labels">
      <a href="#">
        Labels<small class="tabs-count">
          <%= stats.num_labels %>
        </small>
      </a>
    </li>
  </ul>

  <div class="tabs-aside">
    <a href="#/records/new"><b>Add Record</b></a>
  </div>
</nav>

<nav class="content-tabs pagination-header group">
</nav>

<section class="content-records group">
</section>

<nav class="content-tabs pagination-footer group">
</nav>
