<figure class="record">
  <a href="#/labels/<%= model.id %>">
    <img src="<%= model.image() %>" class="cover">
  </a>
  <a href="#/labels/<%= model.id %>" class="artist">
    <b><%= model.escape("title") %></b>
  </a>
</figure>
