<figure class="form record-form">
  <div class="form-header">
    Edit Label Info
  </div>
  <div class="form-main record-form-main">
    <figure class="form-image">
      <img src="<%= label.image() %>" id="form-image">
    </figure>

    <button class="button button-data button-form" id="upload">
      Update Artist Photo
    </button>

    <input
      type="file"
      class="button button-data button-form"
      id="image-form">

    <hr>

    <label for="label_profile">Profile</label>
    <textarea
      name="profile"
      id="label_profile"
      class="form record-form"><%= label.escape("profile") %></textarea>

    <button class="button button-data">
      Update Label
    </button>
  </div>
</figure>
