<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Slipmat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="cK98kjkbEPPomsd2yeDMsQkwZiKA8zECZCYfSTZIOys" />
</head>
<body>
<%= yield %>
</body>
</html>
